<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/my-web-app-icon.png">
	<title>{% block title %}{% endblock %}</title>
    <style>
        .dummy-div {
            padding: 25.5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/about/"><span class="glyphicon glyphicon-user"></span> About me</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span> Classify
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classify/gender">By Gender</a></li>
                        <li><a href="/classify/certificate">By Certificate</a></li>
                        <li><a href="/classify/birth-month">By Birth Month</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-sort"></span> Sort
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/sort/name">By Name</a></li>
                        <li><a href="/sort/age">By Age</a></li>
                    </ul>
                </li>
                <li><a href="/new-member/"><span class="glyphicon glyphicon-plus"></span> New Member</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/upload"><span class="glyphicon glyphicon-folder-open"></span> Import from file...</a></li>
            </ul>
        </div>
    </nav>
    <div class="dummy-div">
    <!--for contents covered by navbar-->
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>